<div id="page_wrapper">
	<div id="profile_image">
		<%= image_tag ""%>
	</div>
	
	<div id="content">
		<h1>Hey I'm Ben</h1>
		<p>Welcome to my blog</p>
		<p>I work as Lead Test Engineer at ITV</p>
		<p>This is a selction of things that happen to me, me thoughts and experience</p>
		<p>Feel free to share in this and comment with anything that's constructive</p>
	</div>	
</div>